*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.screen{
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: black;
}
.screen-footer{
    color: white;
    font-size: 30px;
    width: 100vw;
    background-color: #222222;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    right: 0;
}

.fa-solid.fa-chevron-up.fa-2xs{
    align-self: baseline;
    display: inline;
}
.right-button{
    color: red;
    padding: 30px;
    background-color:#4a4a4a ;
}
.button{
    width: calc(100vw / 3);
    display: flex;
    justify-content: space-evenly;
}

.left-button{
    display: inline;
}
.fa-maximize{
    color: white;
    font-size: 20px;
    position:absolute;
    top: 12px;
    right: 10px;
    padding: 9px;
    border-radius: 5px;
    background-color: #4a4a4a;
}
.container{
    padding: 50px;
    min-height: 300px;
    min-width: 1000px;
    margin: 0 auto;
    background-color: white;
}